# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files
*.idx
*.ubyte

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment folders
venv/
env/
__pycache__/
*.pyc

# Ignore output and temporary files
*.log
*.tmp
*.pdf
*.zip
model_flowchart.png
# Ignore Google Colab mount directory
/content/